:root {
	--first-color: #d8e1ff;
	--first-alpha-color: #e2e8ff;
	--second-color: #a20118;
	--second-alpha-color: #d0808b;
	--third-color: #000000;
	--third-alpha-color: #808080;
	--white-color: #ffffff;
	--gray-light-color: #f3f3f3;
	--gray-color: #cccccc;
	--gray-dark-color: #666666;
	--black-color: #000000;
	--black-color-rgba: 0, 0, 0;
	--link-color: #407ba7;
	--title-color: #000000;
	--text-color: #222222;
	--boton-red: #eb4053;
	--icon-color: #56eb00;

	--font: 'Roboto', sans-serif;
	--h1: clamp(1rem, 0.55rem + 2.27vw, 2rem);
	--h2: clamp(0.75rem, 0.41rem + 1.7vw, 1.5rem);
	--h3: clamp(0.56rem, 0.31rem + 1.28vw, 1.13rem);
	--h4: clamp(0.5rem, 0.27rem + 1.14vw, 1rem);
	--h5: clamp(0.41rem, 0.22rem + 0.92vw, 0.81rem);
	--h6: clamp(0.34rem, 0.19rem + 0.78vw, 0.69rem);
	--text-normal: 1rem;
	--text-small: 0.6875px;

	--drop-shadow: 3.77333px 3.77333px 15.0933px rgba(0, 0, 0, 0.25);
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-family: var(--font);
	font-size: 16px;
}
body {
	max-width: calc(100vw - 0.1%);
	position: relative;
	/* overflow: hidden; */
}
.pTL16 {
	padding: 0 1rem;
}
/***********************
    GENERALES
***********************/
a {
	color: var(--link-color);
	transition: opacity 0.5s ease-out;
	opacity: 0.75;
	font-weight: 500;
}
a:hover {
	opacity: 1;
	font-weight: 800;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
/*
generador de clamp
https://utopia.fyi/type/calculator/?c=320,9,1.2,1024,18,1.25,1,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
*/
h1 {
	font-size: clamp(1rem, 0.55rem + 2.27vw, 2rem);
}
h2 {
	font-size: clamp(0.75rem, 0.41rem + 1.7vw, 1.5rem);
}
h3 {
	font-size: clamp(0.56rem, 0.31rem + 1.28vw, 1.13rem);
}
h4 {
	font-size: clamp(0.5rem, 0.27rem + 1.14vw, 1rem);
}
h5 {
	font-size: clamp(0.41rem, 0.22rem + 0.92vw, 0.81rem);
}
h6 {
	font-size: clamp(0.34rem, 0.19rem + 0.78vw, 0.69rem);
}
img,
iframe {
	max-width: 100%;
	height: auto;
}
p {
	line-height: 1.6;
}

.header {
	grid-area: header;
	background-color: chartreuse;
}
.carouselRow {
	grid-area: carouselRow;
	background-color: rgb(123, 179, 68);
}
.about {
	grid-area: about;
	background-color: rgb(34, 41, 28);
}
.products {
	grid-area: products;

	/* background-color: rgb(11, 124, 128); */
}
.services {
	grid-area: services;

	/* background-color: rgb(40, 140, 207); */
}
.contact {
	grid-area: contact;
	background-color: rgba(128, 255, 0, 0.24);
}
.quote {
	grid-area: quote;
	background-color: rgb(255, 0, 0);
}
.footer {
	grid-area: footer;
	background-color: var(--black-color);
}
.grid-container {
	display: grid;
	width: 100%;

	grid-template:
		'header' auto
		'carouselRow' auto
		'about' 1fr
		'products' 1fr
		'services' 1fr
		'contact' auto
		'quote' auto
		'footer' auto /
		auto;
}










.header {
	height: 100%;
	background-color: goldenrod;
}
.header-mobil {
	position: fixed;
	bottom: 0;
	background-color: var(--second-color);
	width: 100%;
	height: 4rem;
	z-index: 996;
}

/*disenio logo*/
.logo {
	position: absolute;
	left: 0.5rem;
	bottom: 0.5rem;
	top: 0.5rem;
	margin: auto;
	width: 3rem;
	background-color: var(--white-color);
	border-radius: 50%;
}
/* disenio chechbox */
.off-canvas-btn {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 999;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	background-color: goldenrod;
	opacity: 0;
}
/* disenio burger */
.off-canvas-burger {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 998;
	width: 3rem;
	height: 0.6rem;
	border-radius: 0.3rem;
	background-color: var(--first-color);
	transform: rotate(0deg) translate(0, -1.2rem);
	transform-origin: top left;
	transition: transform 500ms ease, background-color 500ms ease;
}
.off-canvas-burger::before,
.off-canvas-burger::after {
	content: '';
	display: block;
	width: 100%;
	height: 0.6rem;
	border-radius: 0.3rem;
	background-color: var(--first-color);
	transition: transform 500ms ease;
}
.off-canvas-burger::before {
	transform: rotate(0deg) translate(0, -0.9rem);
}

.off-canvas-burger::after {
	transform: rotate(0deg) translate(0, 0.3rem);
}
/* funcionamiento  formacion x*/
.off-canvas-btn:checked + .off-canvas-burger {
	background-color: transparent;
}

.off-canvas-btn:checked + .off-canvas-burger::before {
	transform: rotate(45deg) translate(0, 0);
}

.off-canvas-btn:checked + .off-canvas-burger::after {
	transform: rotate(-45deg) translate(0.4rem, -0.5rem);
}
/* disenio menu*/
.off-canvas-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 4rem;
	right: 0;
	z-index: 997;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--second-color);
	transition: transform 500ms ease-in-out;

	transform: translate(0, -100%);
	transform: translate(0, 100%);
	transform: translate(100%, 0);
	transform: translate(-100%, 0);
}
.off-canvas-menu-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.off-canvas-link {
	border-bottom: thin solid var(--second-alpha-color);
	padding: 1.5rem;
	font-size: var(--h1);
	text-align: center;
	text-decoration: none;
	color: var(--first-color);

	font-weight: 700;
	transition: background-color 300ms ease, font-size 0.3s ease-in-out;
}
.off-canvas-link:hover {
	background-color: var(--first-color);
	color: var(--title-color);
}
.off-canvas-link:first-child {
	border-top: thin solid var(--second-alpha-color);
}
/* function click of amburguesa */
.off-canvas-btn:checked ~ .off-canvas-menu {
	transform: translate(0, 0);
}
/***********************
    COMPONENTES
***********************/
/**************** menu mobil ****************/

@media screen and (min-width: 30em) {
}
@media screen and (min-width: 48em) {
	.off-canvas-link {
		padding: 2rem;
		font-size: var(--h3);
	}
}
@media screen and (min-width: 64em) {
	.header-mobil {
		position: sticky;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
	}

	.off-canvas-menu-container {
		position: static;
		flex-direction: row;
	}
	.off-canvas-menu-container {
		height: auto;
	}
	.off-canvas-link {
		padding: 1rem;
		font-size: var(--h3);
	}
	.off-canvas-link:first-child {
		border-top: none;
	}
	.off-canvas-btn,
	.off-canvas-burger {
		display: none;
	}
	.container-xxl {
		max-width: 90%;
		margin: auto;
		/* background-color: red; */
	}
	.fila-header {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		position: static;
		width: 3rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		margin: 0;
	}
	.off-canvas-menu {
		transform: translate(0, 0);
		position: static;
		height: 100%;
		height: 100%;
	}
	.off-canvas-link {
		text-transform: uppercase;
		position: relative;
		border: none;
	}
	.off-canvas-link:hover::after {
		position: absolute;
		content: '';
		width: 48%;
		left: 0;
		bottom: 0.4rem;
		right: 0;
		margin: auto;
		background: var(--link-color);
		height: 4px;
	}
	.off-canvas-link:hover::before {
		position: absolute;
		content: '';
		width: 100%;
		left: 0;
		bottom: 0rem;
		right: 0;
		margin: auto;
		background: var(--link-color);
		height: 4px;
	}
	.off-canvas-link:hover {
		/* transform: scale(1.2); */
		background: transparent;
		color: var(--white-color);
		color: #ffffff;
		opacity: 1;
	}
	.off-canvas-link > span {
		transition: font-size 0.3s ease-in-out;
	}
	.off-canvas-link > span:hover {
		display: block;
		width: 100%;
		height: 100%;
		transform: scale(1.1);
		color: var(--white-color);
		color: #ffffff !important;
		font-weight: 800;
		font-size: var(--h3);
	}
}
/*************************carousel*************************/
/* @keyframes carousel-slide {
	0% {
		transform: translateX(0%);
	}

	25% {
		transform: translateX(-25%);
	}

	50% {
		transform: translateX(-50%);
	}

	75% {
		transform: translateX(-75%);
	}
} */

.carousel {
	max-width: 100%;
	height: calc(100vh - 4rem);
	position: relative;
	overflow: hidden;
}

.carousel input {
	display: none;
}
.carousel .slides {
	width: 400%;
	display: flex;
	list-style: none;

	position: absolute;
	transition: all 0.3s ease-in-out;
	/* animation: carousel-slide 40s ease-in-out 3s infinite; */
}
.slide {
	background-color: red;
	width: 100%;
}
#slide-1:checked ~ .slides {
	transform: translateX(0%);
}

#slide-2:checked ~ .slides {
	transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
	transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
	transform: translateX(-75%);
}
.slides-1 {
	transform: translateX(0%);
}

.slides-2 {
	transform: translateX(-25%);
}

.slides-3 {
	transform: translateX(-50%);
}

.slides-4 {
	transform: translateX(-75%);
}
.carousel-container {
	width: 100%;
	height: calc(100vh - 4rem);
	color: var(--white-color);
	display: flex;
	justify-content: center;
	position: relative;

	background-image: url('../assets/carousel/img-carousel.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: center;
}
.carousel-container::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--first-color);
	opacity: 30%;
}
.carousel-info {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2rem;
	align-items: center;
	padding: 1rem;
	z-index: 20;
}
.carousel-container h1 {
	font-size: calc(var(--h1) + 1rem);
	text-align: center;
}
.carousel-container p {
	font-size: calc(var(--text-normal) + 0.5rem);
	text-align: center;
}

.btn-absolute {
	/* background-color: red; */
	/* position: absolute; */
	width: 100%;
	height: auto;
	padding: 1rem 0;
	height: calc(100vh - 4rem);

	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: red; */
	z-index: 21;
}
.btn:nth-child(2) {
	align-self: flex-end;
}
.btn > img {
	max-width: 100%;
	height: 100%;
	filter: brightness(0.5);
}
.btn-right,
.btn-left {
	background-image: radial-gradient(
		circle 5.5rem at left center,
		var(--first-alpha-color) 50%,
		transparent 50%
	);
	width: 100px;
	height: 100px;
	padding: 1.5rem;
	padding-left: 0.2rem;
	cursor: pointer;
	z-index: 20;
	opacity: 0.5;
}
.btn-right:hover,
.btn-left:hover {
	opacity: 0.7;
}
.btn-left {
	background-image: radial-gradient(
		circle 5.5rem at right center,
		var(--first-alpha-color) 50%,
		transparent 50%
	);
	padding-right: 0.2rem;

	display: flex;
	justify-content: flex-end;
}
.btn-bottom {
	z-index: 100;
}
.bottom-primary {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 10rem;
	height: 2rem;
	background-color: var(--second-alpha-color);
	font-size: 1rem;
	padding: 0.5rem;
	text-decoration: none;
	color: var(--white-color);
	cursor: pointer;
	border-radius: 6px;
	border: thin solid var(--white-color);
	user-select: none;
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.bottom-primary:hover {
	background-color: var(--boton-red);
}
.bottom-primary:active {
	box-shadow: 1px 1px 2px 1px var(--second-color) inset;
}
/* boton carousel abajo */
.slides-nav > label {
	border: medium solid var(--gray-dark-color);
	border-radius: 50%;
	margin: 0 0.25rem;
	display: inline-block;
	width: 0.75rem;
	height: 0.75rem;
	cursor: pointer;
}

@media screen and (min-width: 30em) {
}
@media screen and (min-width: 48em) {
}
@media screen and (min-width: 64em) {
}

/*********** titulo ***********/
.about {
	background-color: var(--first-alpha-color);

	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.row-center {
	display: flex;
	justify-content: center;
}
.title-secondary {
	font-size: calc(var(--h2) + 0.7rem);
	font-weight: 800;
	color: var(--title-color);
	display: inline-block;
	height: 48px;
	position: relative;

	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* gap: 1rem; */
	margin: 2rem 0;
}

.title-secondary::after,
.title-secondary::before {
	content: '';
	position: absolute;

	width: 100%;
	height: 4px;
	bottom: 0;
	background-color: var(--second-color);
}
.title-secondary::after {
	width: 50%;
	bottom: 14%;
}

/**************** quienes comos ****************/

.row-about {
	/* border: 1px solid green; */
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	overflow: hidden;
	background-color: var(--white-color);
}
.about-video {
	width: 100%;
	height: 10rem;

	display: flex;
	justify-content: center;
}
.about-video iframe {
	height: 100%;
}
.row-about-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: var(--white-color);
	padding: 1rem;
}
.row-about h3 {
	font-size: calc(var(--h3) + 1rem);
}
.row-about h4 {
	color: var(--gray-dark-color);
	font-size: calc(var(--h4) + 0.3rem);
}
.row-about a {
	text-align: end;
}
.row-about_barra {
	width: 10%;
	height: 4px;
	background-color: var(--link-color);
}
.row-about_imagen {
	background-image: var(--about-img1);
	background-position: center center;
	background-size: cover;
	width: 100%;
	/* height: 15rem; */
	height: 10rem;
	background-color: red;
}
@media screen and (min-width: 30em) {
	.row-about {
		flex-direction: row;
		gap: 0rem;
		padding: 0;
		height: 18rem;
	}
	.about-video {
		height: 15rem;
	}
	.row-about-container {
		flex-basis: 60%;
		padding: 1rem;
	}
	.row-about_imagen {
		height: 100%;
		flex-basis: 40%;
		clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
		transform: rotateY(180deg);
	}
	.order-about1 {
		order: 1;
	}
	.order-about2 {
		transform: rotateY(0deg);
		order: 0;
	}
}
@media screen and (min-width: 48em) {
}
@media screen and (min-width: 64em) {
	.about {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
		align-items: center;
		gap: 0;
		padding: 2rem 0;
		justify-content: space-between;
	}
	.row-center {
		flex-basis: 100%;
	}
	.about-video {
		flex-basis: 50%;
		height: 27rem;
	}
	.row-about-alter {
		flex-basis: 48%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0;
	}
	.row-about_imagen {
		flex-grow: 3;
	}
	.row-about {
		justify-content: space-between;
		height: 15rem;
	}
}
/*************************** card productos ***************************/
.products {
	background-image: var(--bg-img-product);
	background-size: cover;
	background-origin: center;
	background-attachment: fixed;
}
.gap-column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.bottom-card {
	/* display: flex; */
	display: none;
	justify-content: center;
	align-items: center;
	max-width: 10rem;
	height: 2rem;
	background-color: var(--second-color);
	font-size: 1rem;
	padding: 0.5rem 2rem;
	text-decoration: none;
	color: var(--white-color);
	cursor: pointer;
	border-radius: 6px;
	border: thin solid var(--white-color);
	user-select: none;
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

	position: relative;
	overflow: hidden;
}
.bottom-card:hover {
	background-color: var(--boton-red);
}
.bottom-card:active {
	box-shadow: 1px 1px 2px 1px var(--second-color) inset;
}

.bottom-card.botton-2::before {
	content: '';
	width: 120%;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: calc(-100% - 32px);
	border-bottom: 2rem solid #286cff;
	border-right: 32px solid transparent;
	transition: 0.2s ease-in-out all;
}
.bottom-card.botton-2::after {
	content: '';
	width: 101%;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: calc(-100% - 32px);
	border-bottom: 2rem solid var(--black-color);
	border-right: 32px solid transparent;
	transition: 0.4s ease-in-out all;
}

.bottom-card.botton-2:hover::before {
	left: 0rem;
}
.bottom-card.botton-2:hover::after {
	left: 0rem;
}
.bottom-card.botton-2 span {
	position: relative;
	z-index: 3;
	transition: 0.3s ease all;
}
.card-design-one {
	width: 100%;
	background-color: var(--first-color);
}
.card-design-one_container {
	width: 100%;
	height: 16rem;
	background-image: var(--img-produto-card);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.card-design-one_container:hover > .bottom-card {
	display: flex;
}
.card-design-one_container > h3 {
	width: 100%;
	text-align: center;
	font-size: calc(var(--h3) + 1rem);
	color: var(--white-color);
	text-shadow: 1px 1px 3px var(--black-color);
	background-color: rgba(var(--black-color-rgba), 0.5);
	backdrop-filter: opacity(20%);
	padding: 1rem;
}
.card-design-one_container > a {
	margin-bottom: clamp(3rem, 50vw, 6rem);
}
.card-design-one > span {
	font-weight: 600;
}

.rate-us {
	width: calc((80px * var(--rate-star)) / 100);
	display: flex;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
}
.rate-us-info {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.text-value-product {
	font-size: calc(var(--text-normal) + 0.5rem);
	font-weight: 800;
	color: var(--title-color);
}
.text-value-promo {
	font-size: var(--text-normal);
	font-weight: 800;
	text-decoration: line-through;
}
.text-value-name-product {
	font-size: var(--text-normal);
	color: var(--second-alpha-color);
	font-weight: 500;
}
@media screen and (min-width: 30em) {
}
@media screen and (min-width: 48em) {
	.row-card-product {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.size-card-tablet {
		width: 48%;
	}
}
@media screen and (min-width: 64em) {
	.size-card-tablet {
		width: 32%;
	}
}
/*******************Contacto*******************/
.contact{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.card-contact-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap:1rem;
}
.card-contact-col {

		width: 100%;
	height: 30vh;
	background: var(--white-color);
	box-shadow: var(--drop-shadow);
	padding: 1rem;
}
.card-contact-col i{
	font-size: calc(var(--h1) + 1rem);
}
.card-contact-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.card-contact-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

}
input{
	width: 100%;
	padding: .3rem;
	outline: none;
	border: none;
	border-bottom: thin solid var(--gray-dark-color);
	color: rgb(var(--black-color-rgba),.8);
	
}
input[type='text']::placeholder{
	color: rgb(var(--black-color-rgba),.4);
}
.form-contact{
	box-shadow: var(--drop-shadow);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem .5rem;
}
.form-contact-row{
	min-width: 15rem;
	max-width: 60rem;
}
.form-contact div textarea{
	width: 100%;
	height: 40vh;
	outline: none;
	border-radius: 4px;
	background-color: var(--white-color);
	font-size: 16px;
	resize: none;
	box-shadow: var(--drop-shadow);
	padding: 1rem;
	border: thin solid rgba(var(--black-color-rgba),.5);

}

.footer span{
	display: block;
	color: var(--white-color);
	text-align: center;
	padding: 1rem;
	opacity: .5;
}
@media screen and (min-width: 30em){
	.card-contact-col {
		width: clamp(10rem, 17rem, 20rem);

	}
}
@media screen and (min-width: 48em) {
}
@media screen and (min-width: 64em) {
	.card-contact-info{
		width: inherit;
	}
	.card-contact-row{
		
		justify-content: space-between;
		
	}
	.form-center{
		align-self: center;
		width: 50%;
	}
	.social-media {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.social-media i{
		width: 10rem;
	}
}
/***********************
    UTILITIES
***********************/

/* escritorio */
@media screen and (min-width: 30em) {
}
@media screen and (min-width: 48em) {
}
@media screen and (min-width: 64em) {
}

/***********************
    STYLES SITE
***********************/
