<!-- 
        uienes somos
    -->
<section class="about container-xxl">
    <div class="row-center">
        <div id="QuienesSomos" class="title-secondary">¿Quienes somos?</div>
    </div>
    <div class="about-video pTL16">
        <iframe width="727" height="409" src="https://www.youtube.com/embed/Asij7V0hlPM" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="row-about-alter">
        <div class="row-about">
            <div class="row-about-container">
                <h3>Learning to code</h3>
                <h4>OPENING A DOOR TO THE FUTURS</h4>
                <div class="row-about_barra"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    ipsum urna id nibh quam auctor netus eget enim. At id iaculis et
                    ridiculus velit sed pulvinar. In nec sed in loreTm sed eget
                    laoreet id donec. Mauris at at neque enim.
                </p>
                <a href="#">Leer mas</a>
            </div>
            <div style="--about-img1: url('../assets/about/about1.jpg')" class="row-about_imagen">
                <!-- <img src="./assets/about/about2.jpg" alt="image 1" /> -->
            </div>
        </div>
        <div class="row-about">
            <div class="row-about-container order-about1">
                <h3>Learning to code</h3>
                <h4>OPENING A DOOR TO THE FUTURS</h4>
                <div class="row-about_barra"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    ipsum urna id nibh quam auctor netus eget enim. At id iaculis et
                    ridiculus velit sed pulvinar. In nec sed in loreTm sed eget
                    laoreet id donec. Mauris at at neque enim.
                </p>
                <a href="#">Leer mas</a>
            </div>
            <div class="row-about_imagen order-about2" style="--about-img1: url('../assets/about/about2.jpg')">
                <!-- <img src="./assets/about/about2.jpg" alt="image 1" /> -->
            </div>
        </div>
    </div>
</section>