<main id="inicio" class="carouseRow">
    <div class="carousel" id="nSlides">
        <input type="radio" name="slides" id="slide-1" checked />
        <input type="radio" name="slides" id="slide-2" />
        <input type="radio" name="slides" id="slide-3" />
        <input type="radio" name="slides" id="slide-4" />

        <ul class="slides">
            <li class="slide">
                <div class="carousel-container">
                    <div class="carousel-info">
                        <h1>Titulo1</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a class="bottom-primary" href="#">Contactenos</a>
                    </div>
                </div>
            </li>
            <li class="slide">
                <div class="carousel-container">
                    <div class="carousel-info">
                        <h1>Titulo2</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a class="bottom-primary" href="#">Contactenos</a>
                    </div>
                </div>
            </li>
            <li class="slide">
                <div class="carousel-container">
                    <div class="carousel-info">
                        <h1>Titulo3</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a class="bottom-primary" href="#">Contactenos</a>
                    </div>
                </div>
            </li>
            <li class="slide">
                <div class="carousel-container">
                    <div class="carousel-info">
                        <h1>Titulo4</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a class="bottom-primary" href="#">Contactenos</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="btn-absolute">
            <div id="less" class="btn btn-right">
                <img src="./assets/icon/btn-left.svg" alt="" />
            </div>

            <div class="btn btn-bottom">
                <aside class="slides-nav">
                    <label for="slide-1" id="dot-1"></label>
                    <label for="slide-2" id="dot-2"></label>
                    <label for="slide-3" id="dot-3"></label>
                    <label for="slide-4" id="dot-4"></label>
                </aside>
            </div>
            <div id="must" class="btn btn-left">
                <img src="./assets/icon/btn-right.svg" alt="" />
            </div>
        </div>
    </div>
</main>
<script src="../js/main.js"></script>