<!-- 
				CONTACTO
			 -->
<section class="contactos container-xxl">
	<div class="row-center ">
		<div id="contactos" class="title-secondary">Contactos</div>
	</div>
	<div class="card-contact ">
		<div class="card-contact-row pTL16">
			<div class="card-contact-col">
				<div class="card-contact-container">
					<i class="fas fa-home"></i>
					<div class="card-contact-info">
						<span>UBICACION</span>
						<span>Mixcoac, CDMX, México</span>
					</div>
				</div>
			</div>
			<div class="card-contact-col">
				<div class="card-contact-container">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<div class="card-contact-info">
						<span>TELEFONO</span>
						<span>Mixcoac, CDMX, México</span>
					</div>
				</div>
			</div>
			<div class="card-contact-col">
				<div class="card-contact-container">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<div class="card-contact-info">
						<span>E MAIL</span>
						<span>Mixcoac, CDMX, México</span>
					</div>
				</div>
			</div>
			<div class="card-contact-col">
				<div class="card-contact-container">
					<i class="fa fa-hashtag" aria-hidden="true"></i>
					<div class="card-contact-info">
						<span>SOCIAL MEDIA</span>
						<span class="social-media">
							<i class="fa fa-youtube-play" aria-hidden="true"></i>
							<i class="fa fa-facebook-official" aria-hidden="true"></i>
							<i class="fa fa-instagram" aria-hidden="true"></i>
							<i class="fa fa-linkedin-square" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-contact-row pTL16 form-center">
		<form class="form-contact contact-form" action="#">
			<div>
				<input type="text" placeholder="Ingrese tu nombre *" />
			</div>

			<div>
				<input type="text" placeholder="Ingrese tu correo *" />
			</div>
			<div>
				<textarea name="comments" cols="50" rows="10" placeholder="Déjame tus comentarios *">
							</textarea>
			</div>
			<div class="contact-form-loader text-center none">
				<img src="../assets/icon/loader.svg" alt="Enviando...">
			</div>
			<input type="submit" class="bottom-primary" value="Enviar mensaje" input />
		</form>
	</div>

	<article id="gracias" class="modal">
        <div class="modal-content">
          <article class="contact-form-response">
            <h3>
              ¡Muchas Gracias!
              <br>
              Por tus comentarios
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M12,18c4,0,5-4,5-4H7C7,14,8,18,12,18z" />
              <path
                d="M12,2C6.486,2,2,6.486,2,12c0,5.514,4.486,10,10,10s10-4.486,10-10C22,6.486,17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z" />
              <path
                d="M13 12l2 .012C15.012 11.55 15.194 11 16 11s.988.55 1 1h2c0-1.206-.799-3-3-3S13 10.794 13 12zM8 11c.806 0 .988.55 1 1h2c0-1.206-.799-3-3-3s-3 1.794-3 3l2 .012C7.012 11.55 7.194 11 8 11z" />
            </svg>
          </article>
        </div>
      </article>
	  
</section>