		<!-- 
				CONTACTO
			 -->
		<section class="contactos container-xxl">
			<div class="row-center ">
				<div id="contactos" class="title-secondary">Contactos</div>
			</div>
			<div class="card-contact ">
				<div class="card-contact-row pTL16">
					<div class="card-contact-col">
						<div class="card-contact-container">
							<i class="fas fa-home"></i>
							<div class="card-contact-info">
								<span>UBICACION</span>
								<span>Mixcoac, CDMX, México</span>
							</div>
						</div>
					</div>
					<div class="card-contact-col">
						<div class="card-contact-container">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<div class="card-contact-info">
								<span>TELEFONO</span>
								<span>Mixcoac, CDMX, México</span>
							</div>
						</div>
					</div>
					<div class="card-contact-col">
						<div class="card-contact-container">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<div class="card-contact-info">
								<span>E MAIL</span>
								<span>Mixcoac, CDMX, México</span>
							</div>
						</div>
					</div>
					<div class="card-contact-col">
						<div class="card-contact-container">
							<i class="fa fa-hashtag" aria-hidden="true"></i>
							<div class="card-contact-info">
								<span>SOCIAL MEDIA</span>
								<span class="social-media">
									<i class="fa fa-youtube-play" aria-hidden="true"></i>
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
									<i class="fa fa-instagram" aria-hidden="true"></i>
									<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-contact-row pTL16 form-center">
				<form class="form-contact" action="#">
					<div>
						<input type="text" placeholder="Ingrese tu nombre *" />
					</div>

					<div>
						<input type="text" placeholder="Ingrese tu correo *" />
					</div>
					<div>
						<textarea name="comments" cols="50" rows="10" placeholder="Déjame tus comentarios *">
							</textarea>
					</div>
					<a class="bottom-primary" href="#">Enviar mensaje</a>
				</form>
			</div>
		</section>