<header class="header header-mobil">
    <div class="container-xxl fila-header">
        <label class="logo">
            <img src="./assets/logo/favicon2.png" alt="" />
        </label>

        <input type="checkbox" class="off-canvas-btn" />
        <label class="off-canvas-burger"></label>
        <nav class="off-canvas-menu">
            <div class="off-canvas-menu-container">
                <a href="../index.html" class="off-canvas-link"><span>INICIO</span></a>
                <a href="#QuienesSomos" class="off-canvas-link"><span>QUINES SOMOS</span> </a>
                <a id="idProdutos" href="../components/productAll.html" class="off-canvas-link"><span>PRODUCTOS</span></a>
                <a href="../components/serviceAll.html" class="off-canvas-link"><span>SERVICIOS</span></a>
                <a href="#testimonio" class="off-canvas-link"><span>TESTIMONIO</span></a>
                <a href="#cotizacion" class="off-canvas-link"><span>COTIZACION</span></a>
            </div>
        </nav>
    </div>
</header>

