<!-- 
				SERVICIOS
			 -->
             <section class="services">
                <section class="products container-xxl pTL16">
                    <div class="row-center">
                        <div id="servicios" class="title-secondary">Servicios</div>
                    </div>
                    <div class="gap-column row-card-product">
                        <div class="card-design-one size-card-tablet">
                            <div class="card-design-one_container" style="
                                        --img-produto-card: url('../assets/products/product-card-1.svg');
                                    ">
                                <h3>Camarad de Seguridad</h3>
                                <a class="bottom-card botton-2" href="#"> <span>VER</span></a>
                            </div>
                            <div class="rate-us-info">
                                <div>
                                    <small>Vistos</small>
                                    <div class="rate-us" style="--rate-star: 90">
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
                                    </div>
                                </div>
    
                                <p>
                                    <span class="text-value-product">$135</span>
                                    <span class="text-value-promo">$193</span>
                                </p>
                                <p class="text-value-name-product">Prolab Blue</p>
                            </div>
                        </div>
                        <div class="card-design-one size-card-tablet">
                            <div class="card-design-one_container" style="
                                        --img-produto-card: url('../assets/products/product-card-1.svg');
                                    ">
                                <h3>Camarad de Seguridad</h3>
                                <a class="bottom-card botton-2" href="#"> <span>VER</span></a>
                            </div>
                            <div class="rate-us-info">
                                <div>
                                    <small>Vistos</small>
                                    <div class="rate-us" style="--rate-star: 90">
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
                                    </div>
                                </div>
    
                                <p>
                                    <span class="text-value-product">$135</span>
                                    <span class="text-value-promo">$193</span>
                                </p>
                                <p class="text-value-name-product">Prolab Blue</p>
                            </div>
                        </div>
                        <div class="card-design-one size-card-tablet">
                            <div class="card-design-one_container" style="
                                        --img-produto-card: url('../assets/products/product-card-1.svg');
                                    ">
                                <h3>Camarad de Seguridad</h3>
                                <a class="bottom-card botton-2" href="#"> <span>VER</span></a>
                            </div>
                            <div class="rate-us-info">
                                <div>
                                    <small>Vistos</small>
                                    <div class="rate-us" style="--rate-star: 90">
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
    
                                        <img class="rate-us_img" src="./assets/icon/Star1.svg" alt="estrella" />
                                    </div>
                                </div>
    
                                <p>
                                    <span class="text-value-product">$135</span>
                                    <span class="text-value-promo">$193</span>
                                </p>
                                <p class="text-value-name-product">Prolab Blue</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>